@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../../public/SourceSansPro-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../../public/SourceSansPro-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../../public/SourceSansPro-Bold.ttf");
  font-weight: 700;
}
